/*
* -----------------------------------------------------------------------------
* TYPOGRAPHY
*-----------------------------------------------------------------------------
*/


$main-font: 'quicksand';
$title-font: 'worksans';

$bold: bold;

/*
* -----------------------------------------------------------------------------
* COLORS
*-----------------------------------------------------------------------------
*/

$black: black;

/*
* -----------------------------------------------------------------------------
* RESPONSIVE
*-----------------------------------------------------------------------------
*/

$mobile: 767px;
$tablet: 991px;
