/*
* -----------------------------------------------------------------------------
* TYPOGRAPHY
*-----------------------------------------------------------------------------
*/



$main-font: 'Quicksand';
$title-font: 'Work Sans';


$bold: bold;

/*
* -----------------------------------------------------------------------------
* COLORS
*-----------------------------------------------------------------------------
*/

$black: black;
$primary:#333333;

$blue: #36A0E6;
$white_ecv: #FAFAFA;
$orange: #EB694B;

$white:#FFF;
$grey: #C7C7C7C7;


/*
* -----------------------------------------------------------------------------
* RESPONSIVE
*-----------------------------------------------------------------------------
*/

$mobile: 767px;
$tablet: 991px;
