/*
* -----------------------------------------------------------------------------
* TYPOGRAPHY
*-----------------------------------------------------------------------------
*/

$main-font: 'quicksand', monospace;
$title-font: 'worksans', monospace;
$bold: bold;

/*
* -----------------------------------------------------------------------------
* COLORS
*-----------------------------------------------------------------------------
*/

$black: black;
$grey: #C7C7C7C7;

/*
* -----------------------------------------------------------------------------
* RESPONSIVE
*-----------------------------------------------------------------------------
*/

$mobile: 767px;
$tablet: 991px;
