/*
* -----------------------------------------------------------------------------
* COMPONENT : BASE
*-----------------------------------------------------------------------------
*/

body {
    margin: 0;
    font-family: $main-font;
}

section {
    width: 100%;
}

@include block('container') {
    width: 100%;
    margin: 3%;

}

