/*
* -----------------------------------------------------------------------------
* COMPONENT : BASE
*-----------------------------------------------------------------------------
*/

body {
    margin: 0;
    font-family: $main-font;
}

section {
    display: inline-block;
    width: 100%;
}

@include block('container') {
    width: 100%;

    @include modifier('offset') {
        margin-left: 25%;
    }
}

