/*
* -----------------------------------------------------------------------------
* COMPONENT : EVENT
*-----------------------------------------------------------------------------
*/

@include block('event') {
    width: 25%;
    height: 30vh;
    background-color: #333333;
    position: static !important;
    margin:2%;



    @include element('title') {

        @include element('font') {
            font-size: 30px;
            font-family: $title-font;
            font-weight: $bold;
            color: $white;
        }
    }

    @include element('date') {
        color: $grey;

    }

    @include element('category') {

    }

    @include element('img') {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include element('content') {

    }
}