/*
* -----------------------------------------------------------------------------
* COMPONENT : SIDEBAR
*-----------------------------------------------------------------------------
*/

@include block('sidebar') {
    display: inline-block;
    position: fixed;
    height: 100vh;
    width: 25%;
    padding: 20px;

    @include block('filters') {

        @include element('label') {
            display: block;
            padding-bottom: 10px;
            font-weight: $bold;
            text-transform: uppercase;
        }

        @include element('group') {
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
        }
    }
}