/*
* -----------------------------------------------------------------------------
* LAYOUT : TIMELINE
*-----------------------------------------------------------------------------
*/

@include block('page-timeline') {
    display: flex;
}

@include block('listing-events') {
    display: flex;
    flex-wrap: wrap;
    height: auto !important;
    margin-top: 4%;
    justify-content: space-around;
}